section {
  width: 100%;
  padding: 30px;
  background-color: $mainColorText;
  border: 2px solid $actualColorText;
  & .title {
    font-size: 20px;
    color: $whiteIndex;
  }
  .text {
    color: $actualColorText;
  }
}
